.h1 {
    text-align: center;
    color: blue;
}

.h2 {
    text-align: center;
    color: red;
}

.row.primogruppo {
    background-color: blue;
    color: white;
    padding: 3px
}

.row.secondogruppo {
    background-color: yellow;
    color: black;
    padding: 3px;
}

.row.terzogruppo {
    background-color: green;
    color: white;
    padding: 3px;
}

.row.quartogruppo {
    background-color: red;
    color: white;
    padding: 3px;
}

.row.quintogruppo {
    background-color: aqua;
    color: white;
    padding: 3px;

}

.row.sestogruppo {
    background-color: black;
    color: white;
    padding: 3px;
}